@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
}

input[type=text], textarea {
    font-family: 'Montserrat', sans-serif;
}

.cf {
    content: "";
    display: table;
    clear: both;
}

.red {
    color: red;
}

.btn {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    background: #d6d6d6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #b0b0b0;
    text-decoration: none;
    cursor: pointer;
  }

.bold { font-weight: bold; }

.fz18px { font-size: 18px; }
.fz22px { font-size: 22px; }